.btn {
    width: 270px;
    height: 66px;
    background: #FFDE31;
    box-shadow: 0px 4px 0px #DFC229, 0px 9px 4px rgba(198, 172, 35, 0.3);
    border-radius: 39px;
    font-family: 'Montserrat-SemiBold';
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    text-align: center;
    margin: 0 auto;
    &-green {
        background: #C9E915;
        box-shadow: 0px 4px 0px #afcc0c, 0px 9px 4px rgba(198, 172, 35, 0.3);
    }
    &:hover, &:active {
        box-shadow: 0px 6px 0px #DFC229, 0px 19px 14px rgba(198, 172, 35, 0.3);
        background: rgb(255, 238, 0);
    }
    &--form {
        width: 312px!important;
        font-family: 'Montserrat-SemiBold';
        font-size: 20px;
        line-height: 26px;
        height: 89px;
        margin: 0;
        @include breakpoint($bp-600) {
            width: 220px!important;
        }
    }
    &-form--footer {
        width: 323px;
        height: 66px;
        margin: 15px 0 0 0;
        @include breakpoint($bp-600) {
            width: 270px!important;
        }
    }
    &--calc {
        width: 349px!important;
        @include breakpoint($bp-600) {
            width: 285px!important;
        }
    }
}
.button-img {
    position: relative;
    &::after {
        content: '';
        display: block;
        background: url(../images/form-btn.png);
        background-repeat: no-repeat;
        width: 207px;
        height: 139px;
        position: absolute;
        right: -10px;
        top: -120px;
        @include breakpoint($bp-1400) {
            display: none;
        }
    }
}
.boot {
    -webkit-transform: translate3D(0, 0, 0);
    -webkit-backface-visibility: hidden;

    position: relative;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
}
.boot:after {
    padding: 0;
    content: '';
    width: 95%;
    height: 46px;
    display: block;
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
}
.boot:before {
    -webkit-transition: all 0s ease-in-out;
    -moz-transition: all 0s ease-in-out;
    -o-transition: all 0s ease-in-out;
    transition: all 0s ease-in-out;
    content: '';
    width: 100%;
    height: 89px;
    display: block;
    position: absolute;
    z-index: -1;
    border-left: 15px solid white;
    box-shadow: -20px 30px 60px white;
    background: transparent;
    top: 0px;
    left: -15px;
    margin-left: -1px;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}
.boot:hover:before, .boot:active:before, .boot:focus:before {
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
    -webkit-transform: translate(115%, 0);
    -moz-transform: translate(115%, 0);
    -ms-transform: translate(115%, 0);
    -o-transform: translate(115%, 0);
    transform: translate(115%, 0);
}