.footer-main {
    background: url(../images/bg-7.jpg);
    background-repeat: no-repeat;
    padding: 190px 10px 0;
    @include breakpoint($bp-1200) {
        background-size: cover;
        padding-top: 100px;
    }
    @include breakpoint($bp-600) {
        padding-top: 50px;
    }
    
}
.footer-main-container {
    position: relative;
    &::after {
        content: '';
        display: block;
        background: url(../images/footer-main.png);
        width: 465px;
        height: 465px;
        position: absolute;
        top: -140px;
        right: 0;
        @include breakpoint($bp-1400) {
            display: none;
        }
    }
}