.header {
    background: #E7E5E5;
    padding: 15px 10px;
    &-logo {
        img {
            @include breakpoint($bp-900) {
                max-width: 200px;
            }
        }
    }
    &-text {
        font-size: 28px;
        color: black;
        font-family: 'Montserrat-Bold';
        @include breakpoint($bp-900) {
            font-size: 20px;
            text-align: center;
        }
        @include breakpoint($bp-700) {
            margin: 10px 0;
        }
        @include breakpoint($bp-400) {
            font-size: 18px;
        }
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include breakpoint($bp-700) {
            flex-direction: column;
        }
    }
    &-info {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        a {
            font-family: 'Montserrat-Regular';
            font-size: 18px;
            line-height: 36px;
            @include breakpoint($bp-1200) {
                font-size: 16px;
                line-height: 25px;
            }
            @include breakpoint($bp-900) {
                font-size: 14px;
                line-height: 25px;
            }
            @include breakpoint($bp-600) {
                font-size: 14px;
                line-height: 18px;
            }
        }
        @include breakpoint($bp-700) {
            align-items: center;
        }
    }
}
.header-tel {
    font-family: 'Montserrat-SemiBold';
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    line-height: 26px;
    @include breakpoint($bp-900) {
        text-align: right;
    }
    @include breakpoint($bp-700) {
        text-align: center;
    }
}
.container-1920 {
    max-width: 1920px;
    margin: 0 auto;
}