.market {
    background: url(../images/bg-5.jpg);
    background-repeat: no-repeat;
    padding: 28px 50px 330px;
    &-flex {
        display: flex;
        margin-bottom: 113px;
        @include breakpoint($bp-600) {
            flex-direction: column;
        }
    }
    @include breakpoint($bp-600) {
        background-position: top center;
        padding: 28px 10px 35px;
        background-size: cover;
    }
}
.bg-text--1 {
    z-index: 0;
}
.bg-text--2 {
    z-index: 0;
}