.math {
    background: url(../images/bg-2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 58px 10px 200px;
    @include breakpoint($bp-900) {
        padding: 58px 10px 100px;
        background-size: cover;
    }
}
.math-container {
    max-width: 608px;
    margin-top: 60px;
}
.questions-menu {
    border-bottom: 1px solid #FEFEFE;
    font-family: 'Montserrat-SemiBold';
    font-weight: 600;
    font-size: 32px;
    line-height: 41px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    @include breakpoint($bp-600) {
        font-size: 18px;
        line-height: 31px;
    }
}
.spoiler_links {
    background: url(../images/open.png) no-repeat;
    width: 35px;
    height: 16px;
    cursor: pointer;
}
.close {
    background: url(../images/close.png) no-repeat;
    width: 21px;
    height: 28px;
}
.spoiler_body {
    display:none;
}
.spoiler-li {
    list-style: none;
    font-family: 'Montserrat-Regular';
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 10px;
    @include breakpoint($bp-600) {
        font-size: 13px;
        line-height: 18px;
    }
}