.team {
    padding: 45px 50px 90px;
    img {
        margin-top: 45px;
        max-width: 100%;
    }
    &-block {
        position: relative;
    }
    @include breakpoint($bp-600) {
        padding: 30px 10px 90px;
    }
}
.team-img {
    @include breakpoint($bp-1200) {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
}