.tools {
    background: #252222;
    padding: 50px 0 80px;
    &-block {
        border-radius: 20px;
        background: url(../images/bg-4.png);
        margin-top: 165px;
        max-width: 680px;
        padding-left: 38px;
        padding-top: 125px;
        padding-bottom: 130px;
        @include breakpoint($bp-1200) {
            margin: 0 auto 20px;
        }
        @include breakpoint($bp-600) {
            padding: 50px 10px;
        }
    }
    &-title {
        font-family: 'Montserrat-SemiBold';
        font-weight: 600;
        font-size: 32px;
        line-height: 41px;
        max-width: 360px;
        margin-bottom: 33px;
    }
    &-p {
        font-family: 'Montserrat-SemiBold';
        font-size: 20px;
        line-height: 26px;
        max-width: 420px;
        margin-bottom: 100px;
    }
}
.tools-block-min {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 20px;
}
.tools-block-title {
    text-align: center;
    font-family: 'Montserrat-SemiBold';
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 7px;
}
.tools-block-p {
    font-family: 'Montserrat-Regular';
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
}
.tools-block {
    img {
        max-width: 100%;
    }
}