<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="arthouse">
                «ART<span class="f-300">HOUSE»</span> <br> ©2021.
            </div>
            <div class="footer-logo">
                <img src="assets/images/logo.png" alt="">
            </div>
            <div class="footer-info">
                <div class="header-info-img">
                    <div class="header-info-phone">
                        <img src="assets/images/phone.png" alt="">
                    </div>
                    <a class="header-tel" href="tel:+79999999999">8 (999) 999-99-99</a>
                </div>
                <a data-fancybox href="#tel" style="text-decoration: underline;" >Заказать звонок</a>
            </div>
        </div>
    </div>
</footer>
