<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="arthouse">
                «ART<span class="f-300">HOUSE»</span> <br> ©2020.
            </div>
            <div class="footer-logo">
                <img src="assets/images/logo.png" alt="">
            </div>
            <div class="footer-info">
                <a class="header-tel" href="tel:+79999999999">тел. 8 (999) 999-99-99</a>
                <a href="">Заказать звонок</a>
            </div>
        </div>
    </div>
</footer>
